// typography
baseFontSize = 22
baseLineHeight = 1.5
leading = baseLineHeight * 1rem
scale = 1.414
letter-spacing = .03rem

// fonts
font = -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto

// font weights
fw-base = 400
fw-medium = 500
fw-bold = 600
fw-heading = 500

// sizing
base = 1rem
large = scale * 1rem
small = scale * 0.85rem
micro = scale * 0.7rem

spacing = leading

// media queries
bp-s = 40rem // max
bp-m = 60rem // min
bp-l = 75rem // min
bp-xl = 90rem // min


// colors
brand-900 = #33691e
brand-800 = #558b2f
brand-700 = #689f38
brand-600 = #7cb342
brand-500 = #8bc34a
brand-400 = #9ccc65
brand-300 = #aed581
brand-200 = #c5e1a5
brand-100 = #dcedc8
brand-50 = #f1f8e9

brand-primary = brand-900
base-color = #424242
bg = brand-50

// // spacing
// $wrap = 48rem
// $wrap-l = 58rem
// $body = 32rem
// $paragraph = 36rem


// // colors
// $gray-lightest = #f8f8f8
// $gray-light = #e6e6e6
// $gray = #999999
// $gray-dark = #5f5f5f
// $gray-darkest = #464646


// $selection = rgba(255, 255, 0, 0.25)

// $twitter = #1dcaff
// $linkedin = #007bb5
// $instagram = #cd486b
// $github = #171515
// $rss = #f26522

// $site-color = #C0392B
// $text-color = #000207
// $text-light = #f1f2f0
// $bg = #ffffff
// $bg-dark = #202020

// $separator = 1px solid rgba($gray-light, 0.75)
// $sidebar-color = $gray-lightest

// // animation
// $quad-easing = cubic-bezier(0.455, 0.030, 0.515, 0.955)
// $theme-transition-duration = 0.5s
// $theme-transition-easing = $quad-easing
// $theme-transition = all $theme-transition-duration $theme-transition-easing
