#mc-embedded-subscribe-form input[type=checkbox] {
    display: inline;
    width: auto;
    margin-right: 10px;
}

#mergeRow-gdpr {
  margin-top: 20px;
}

#mergeRow-gdpr fieldset label {
    font-weight: normal;
}

#mc-embedded-subscribe-form .mc_fieldset {
    border: none;
    min-height: 0px;
    padding-bottom: 0px;
}

#mc-embedded-subscribe-form {
    padding: 0 !important;
}

#mc_embed_signup {
    clear: left;
    font-size: 0.85rem;
}

.newsletter
  border 1px solid gray-light
  padding spacing
  border-radius 0.15rem
  text-align center !important

.newsletter__title
  margin-top 0
  margin-bottom spacing

.newsletter .email
    display inline-block
    margin 0 auto !important

.content__gdpr
    text-align center
    label
        margin-top spacing
    .gdpr_subheader
        margin-top 0
    p
        margin-top 0.35rem

    .checkbox
        margin-top 0.5rem
        margin-bottom 0.65rem
        span
            font-size 0.9rem
            vertical-align middle

.content__gdprLegal p
    text-align center
    margin-bottom 1rem
    margin-top 0.5rem

.newsletter .submit
    text-align center
    .button
        margin 0 auto !important