/* general styles */
.mobile,
.desktop
  padding spacing*2 0

+medium()
  .mobile,
  .desktop
    display grid
    grid-template-columns 1fr 1fr

.features-list
  // list-style-type none
  // padding 0
  font-size 1.25rem

  li
    margin-bottom spacing

// MOBILE

.mobile__preview
  text-align center
  +medium()
    text-align right
    padding-right spacing*3
    padding-left spacing

// DESKTOP
.desktop__text
  +medium()
    padding-left spacing*2

.desktop__preview
  +medium()
    padding-left spacing


// IPHONE MOCKUP
.marvel-device img
  width 100%

.marvel-device
  zoom 0.95

+small()
  .marvel-device
    zoom 0.8

// BROWSER MOCKUP
.browser-mockup
  border-top 2em solid rgba(230, 230, 230, 0.7)
  position relative
  border-radius 3px 3px 0 0;

.browser-mockup:before
  display block
  position absolute
  content ''
  top -1.25em
  left 1em
  width 0.5em
  height 0.5em
  border-radius: 50%
  background-color: #f44
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5
