.prototype
  background-color gray-lightest
  padding spacing*2 0

.prototype__preview
  text-align center


+medium()
  .prototype
    display grid
    grid-template-columns 1fr 1fr



.marvel-device img
  width 100%

+small()
  .marvel-device
    zoom: 0.8

