/* text */
.ta-center
  text-align center

.lead
  font-size scale * 1rem

.hug
  margin-top 0

.tiny,
p.tiny
	font-size 0.75rem
	line-height 1.5

/* color */
.bg-gray
  background-color gray-lightest

.gray
	color gray

/* padding */

.pad-s
	padding: spacing/2

.pad-m
	padding: spacing

.pad-l
	padding: spacing*1.5

.pad-xl
	padding: spacing*2


/* margin */

.margin-s
	margin-top: spacing

.margin-m
	margin-top: spacing*2

.margin-l
	margin-top: spacing*3

.margin-xl
	margin-top: spacing*4

/* visibility */
.visually-hidden
	position absolute
	overflow hidden
	clip rect(0 0 0 0)
	height 1px
	width 1px
	margin -1px
	padding 0
	border 0