/* padding */

.pad-s
	padding: spacing/2

.pad-m
	padding: spacing

.pad-l
	padding: spacing*1.5

.pad-xl
	padding: spacing*2


/* margin */

.margin-s
	margin-top: spacing

.margin-m
	margin-top: spacing*2

.margin-l
	margin-top: spacing*3

.margin-xl
	margin-top: spacing*4

