/* padding */

.pad-s
	padding: spacing/2

.pad-m
	padding: spacing

.pad-l
	padding: spacing*1.5

.pad-xl
	padding: spacing*2


/* margin */

.mar-s
	margin-top: spacing

.mar-m
	margin-top: spacing*2

.mar-l
	margin-top: spacing*3

.mar-xl
	margin-top: spacing*4

