footer.footer.ta-center
      .github
        | Check out the
        a(href='https://github.com/urbanero/urbanero-homepage', target='_blank') Github page
        |  for project roadmap and  more details
      p.license.small.gray
        | Urbanero.org is dedicated to the public domain under the
        a(href='https://unlicense.org/', target='_blank') Unlicense