head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')

  title Urbanero
  meta(name='keywords', content='citizen participation, smart cities, smart governance, citizen-centric design, participatory smartphone apps')
  meta(name='description', content='Urbanero is a platform for participatory urban development and collective decision-making.')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='shortcut icon', type='image/png', href='img/favicon.png')

  // stylesheets and fonts
  link(href='https://fonts.googleapis.com/css?family=Rubik:400,700', rel='stylesheet')
  link(rel='stylesheet', type='text/css', media='screen', href='css/devices.min.css')
  link(rel='stylesheet', type='text/css', media='screen', href='css/main.styl')
  link(rel='stylesheet', type='text/css', href='//cdn-images.mailchimp.com/embedcode/slim-10_7.css')

  // Open Graph
  meta(name='og:title', content='Urbanero')
  meta(name='og:type', content='website')
  meta(name='og:url', content='https://urbanero.org')
  meta(name='og:image', content='https://urbanero.org/img/cover.jpg')
  meta(name='og:site_name', content='Urbanero')
  meta(name='og:description', content='A platform for participatory urban development and collective decision-making')