section.mobile
  .mobile__preview
    .marvel-device.iphone8.black
      .top-bar
      .sleep
      .volume
      .camera
      .sensor
      .speaker
      .screen
        img(src='img/prototype-mobile.png', data-src='img/prototype-preview-compressed.gif', alt='UI preview of the smartphone app')
      .home
      .bottom-bar
  .mobile__text
    h2 Give voice to citizens
    ul.features-list
      li create geolocated ideas, suggestions and initiatives
      li browse and follow nearby activity
      li vote and discuss
      li see who is responsible for taking action
      li track progress